main {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url(/assets/img/board.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    position: relative;

    img {
        position: absolute;
        width: 240px;
    }
}

.top-card {
    cursor: pointer;
    transition: all 125ms ease-in-out;

    &:hover {
        transform: scale(1.1) translateY(-18px) translateX(-12px);
    }
}

.played-card {
    right: 12px;
    bottom: 12px;
    transform: scale(1) translateX(350px) translateY(340px) rotate(10deg);
}

.pick-card {
    animation: pick-card-animation 1s ease-in-out;
    transform: scale(1) translateX(350px) translateY(340px) rotate(10deg);
}

@keyframes pick-card-animation {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(1.5);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1) translateX(350px) translateY(340px) rotate(10deg);
    }
}

aside {
    position: absolute;
    right: 16px;
    top: 16px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px;
}

button {
    position: absolute;
    right: 32px;
    bottom: 32px;
}

app-game-info {
    position: absolute;
    bottom: 32px;
    left: 100px;
    right: 100px;
}