<main>
    <section>
        <img *ngFor="let c of [0, 1, 2, 3]; let i = index" [ngStyle]="{'right.px': i * 3, 'bottom.px': i*3}" src="/assets/img/cards/green_back.png">
        <img (click)="pickCard()" class="top-card" style="right: 12px; bottom: 12px;" src="/assets/img/cards/green_back.png">
        <img (click)="pickCard()" *ngIf="pickCardAnimation" class="pick-card" style="right: 12px; bottom: 12px;" src="/assets/img/cards/clubs_1.png">
    </section>
    i had dto change something
</main>
